body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

header {
  grid-area: 1 / 1 / 2 / 6; 
  display: flex;
}

header h1 {
  font-family: 'Marhey', sans-serif;
  font-size: 50px;
  margin-left: 20px;
  align-self: center;
  flex-shrink: 0;
}

footer {
  grid-area: 6 / 1 / 7 / 6; 
  display: flex;
  justify-content: center;
}

#results {
  grid-area: 2 / 1 / 6 / 2; 
  margin-left: 20px;
  transition: all 1s;
}

#productContainer {
  grid-area: 2 / 2 / 6 / 6; 
  display: flex;
  justify-content: space-evenly;
}

#productContainer img {
  width: auto; /* Reset width to auto */
  height: 30vh; /* Set height to 100% of the container */
}

#siteWelcome {
  grid-area: 4 / 2 / 6 / 6; 
  height: 400px;
  width: 1000px;
  margin: 0 auto;
}
